<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1002.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,403}</string>
                <key>spriteSourceSize</key>
                <string>{564,403}</string>
                <key>textureRect</key>
                <string>{{0,305},{564,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M01.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,178}</string>
                <key>spriteSourceSize</key>
                <string>{235,178}</string>
                <key>textureRect</key>
                <string>{{0,0},{235,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M02.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,305}</string>
                <key>spriteSourceSize</key>
                <string>{236,305}</string>
                <key>textureRect</key>
                <string>{{470,0},{236,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M04.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,214}</string>
                <key>spriteSourceSize</key>
                <string>{235,214}</string>
                <key>textureRect</key>
                <string>{{235,0},{235,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MMB.png</string>
            <key>size</key>
            <string>{706,708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a935e83fd1a689091bee95a04628e7ff:1fcd6e67bae53d6fbe8703b9b7f76377:cc5a1a816004ae6a09956856e1f45985$</string>
            <key>textureFileName</key>
            <string>MMB.png</string>
        </dict>
    </dict>
</plist>
