<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{485,159},{28,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,44}</string>
                <key>spriteSourceSize</key>
                <string>{42,44}</string>
                <key>textureRect</key>
                <string>{{643,83},{42,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,44}</string>
                <key>spriteSourceSize</key>
                <string>{23,44}</string>
                <key>textureRect</key>
                <string>{{352,170},{23,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>black_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,50}</string>
                <key>spriteSourceSize</key>
                <string>{26,50}</string>
                <key>textureRect</key>
                <string>{{377,191},{26,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{643,129},{28,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{485,189},{25,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,45}</string>
                <key>spriteSourceSize</key>
                <string>{26,45}</string>
                <key>textureRect</key>
                <string>{{687,83},{26,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{397,219},{26,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,45}</string>
                <key>spriteSourceSize</key>
                <string>{25,45}</string>
                <key>textureRect</key>
                <string>{{624,159},{25,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,45}</string>
                <key>spriteSourceSize</key>
                <string>{26,45}</string>
                <key>textureRect</key>
                <string>{{687,111},{26,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,43}</string>
                <key>spriteSourceSize</key>
                <string>{26,43}</string>
                <key>textureRect</key>
                <string>{{622,214},{26,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,45}</string>
                <key>spriteSourceSize</key>
                <string>{26,45}</string>
                <key>textureRect</key>
                <string>{{687,139},{26,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>black_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,45}</string>
                <key>spriteSourceSize</key>
                <string>{26,45}</string>
                <key>textureRect</key>
                <string>{{530,156},{26,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,167}</string>
                <key>spriteSourceSize</key>
                <string>{123,167}</string>
                <key>textureRect</key>
                <string>{{127,1},{123,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_back_ds.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,167}</string>
                <key>spriteSourceSize</key>
                <string>{123,167}</string>
                <key>textureRect</key>
                <string>{{252,1},{123,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_face.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,170}</string>
                <key>spriteSourceSize</key>
                <string>{124,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,43}</string>
                <key>spriteSourceSize</key>
                <string>{28,43}</string>
                <key>textureRect</key>
                <string>{{671,167},{28,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,45}</string>
                <key>spriteSourceSize</key>
                <string>{42,45}</string>
                <key>textureRect</key>
                <string>{{485,112},{42,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,44}</string>
                <key>spriteSourceSize</key>
                <string>{23,44}</string>
                <key>textureRect</key>
                <string>{{530,212},{23,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,50}</string>
                <key>spriteSourceSize</key>
                <string>{26,50}</string>
                <key>textureRect</key>
                <string>{{429,191},{26,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,42}</string>
                <key>textureRect</key>
                <string>{{701,167},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,43}</string>
                <key>spriteSourceSize</key>
                <string>{25,43}</string>
                <key>textureRect</key>
                <string>{{481,216},{25,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,45}</string>
                <key>spriteSourceSize</key>
                <string>{26,45}</string>
                <key>textureRect</key>
                <string>{{577,156},{26,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{26,42}</string>
                <key>textureRect</key>
                <string>{{671,212},{26,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,44}</string>
                <key>spriteSourceSize</key>
                <string>{25,44}</string>
                <key>textureRect</key>
                <string>{{576,212},{25,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,45}</string>
                <key>spriteSourceSize</key>
                <string>{26,45}</string>
                <key>textureRect</key>
                <string>{{530,184},{26,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,43}</string>
                <key>spriteSourceSize</key>
                <string>{26,43}</string>
                <key>textureRect</key>
                <string>{{352,219},{26,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,45}</string>
                <key>spriteSourceSize</key>
                <string>{26,45}</string>
                <key>textureRect</key>
                <string>{{577,184},{26,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,45}</string>
                <key>spriteSourceSize</key>
                <string>{26,45}</string>
                <key>textureRect</key>
                <string>{{624,186},{26,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,82}</string>
                <key>spriteSourceSize</key>
                <string>{69,82}</string>
                <key>textureRect</key>
                <string>{{268,170},{69,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,65}</string>
                <key>spriteSourceSize</key>
                <string>{73,65}</string>
                <key>textureRect</key>
                <string>{{89,173},{73,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,86}</string>
                <key>spriteSourceSize</key>
                <string>{73,86}</string>
                <key>textureRect</key>
                <string>{{1,173},{73,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,85}</string>
                <key>spriteSourceSize</key>
                <string>{80,85}</string>
                <key>textureRect</key>
                <string>{{647,1},{80,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suit_black_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,106}</string>
                <key>spriteSourceSize</key>
                <string>{77,106}</string>
                <key>textureRect</key>
                <string>{{377,112},{77,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suit_black_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,110}</string>
                <key>spriteSourceSize</key>
                <string>{74,110}</string>
                <key>textureRect</key>
                <string>{{535,1},{74,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suit_black_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,109}</string>
                <key>spriteSourceSize</key>
                <string>{77,109}</string>
                <key>textureRect</key>
                <string>{{377,1},{77,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suit_red_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,106}</string>
                <key>spriteSourceSize</key>
                <string>{77,106}</string>
                <key>textureRect</key>
                <string>{{535,77},{77,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suit_red_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,110}</string>
                <key>spriteSourceSize</key>
                <string>{74,110}</string>
                <key>textureRect</key>
                <string>{{156,170},{74,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>suit_red_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,109}</string>
                <key>spriteSourceSize</key>
                <string>{77,109}</string>
                <key>textureRect</key>
                <string>{{456,1},{77,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{733,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8ef9b334522ae40944261c8de99c493:1c0d262bef441b16c8da4544b4b77360:7091b912c8b6d40e279854fb79f668a3$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
