<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,852}</string>
                <key>spriteSourceSize</key>
                <string>{480,852}</string>
                <key>textureRect</key>
                <string>{{0,124},{480,852}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,21}</string>
                <key>spriteSourceSize</key>
                <string>{9,21}</string>
                <key>textureRect</key>
                <string>{{0,0},{9,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,39}</string>
                <key>spriteSourceSize</key>
                <string>{51,39}</string>
                <key>textureRect</key>
                <string>{{9,0},{51,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy0_die.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,47}</string>
                <key>spriteSourceSize</key>
                <string>{51,47}</string>
                <key>textureRect</key>
                <string>{{60,0},{51,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,124}</string>
                <key>spriteSourceSize</key>
                <string>{100,124}</string>
                <key>textureRect</key>
                <string>{{209,0},{100,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero1_die.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,124}</string>
                <key>spriteSourceSize</key>
                <string>{98,124}</string>
                <key>textureRect</key>
                <string>{{111,0},{98,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>P01.png</string>
            <key>size</key>
            <string>{480,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa8f35a562cf6ef70f87c67b3de1b32e:92eb5662885102fd1a625d561d353797:5c6b649b07b6f016d7f5e6439d75f789$</string>
            <key>textureFileName</key>
            <string>P01.png</string>
        </dict>
    </dict>
</plist>
